@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	font-family: Roboto, cursive;
}

/* SIGN-UP STYLES */

.sign-up-form {
	border: 6px solid #ff4d4d;
	padding: 3px;
	position: relative;
}

.form-legend {
	position: absolute;
	background-color: #ff4d4d;
	left: 50%;
	width: 40%;
	padding: 10px 10px 5px 10px;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Manifesto';
}

.sign-up-form::before {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0px;
	content: '';
	left: 0px;
	z-index: -2;
}

.sign-in-form {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 3px;
	border: 6px solid #ff4d4d;
	margin-top: 4rem;
}

.completion-form-lead {
	margin-top: 5rem;
}

.sign-in-form > legend {
	width: 60%;
	color: white;
	background-color: #ff4d4d;
	padding: 5px;
}

.sign-up-form > legend {
	width: 40%;
	color: white;
	background-color: #ff4d4d;
	padding: 5px;
}

.sign-up-button {
	border: 3px solid #ff4d4d;
	background: linear-gradient(to bottom, white 50%, #ff4d4d 50%);
	background-size: 100% 200%;
	background-position: top;
	color: #ff4d4d;
	transition: all 0.2s ease;
}

.sign-up-button:hover {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	background-position: bottom;
	color: white;
}

.sign-up-button-inverse {
	border: 3px solid #ff4d4d;
	background: linear-gradient(to bottom, #ff4d4d 50%, white 50%);
	background-size: 100% 200%;
	background-position: bottom;
	color: #ff4d4d;
	transition: all 0.2s ease;
}

.sign-up-button-inverse:hover {
	background-position: top;
	color: white;
}

.sign-progress-wrapper {
	margin-top: 4rem;
	width: 120%;
}

.sign-progress {
	counter-reset: step;
}

.sign-progress li{
	list-style-type: none;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
	/*color: blue;*/
}

.check-box-wrapper {
	display: inline-block !important;
	/*border: 1px solid black;*/
	position: relative;
	padding-top: 15px;
	background-color: transparent;
	margin-top: 1rem;
}

.check-box-wrapper label {
	color: rgba(255, 77, 77, 0.7);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* fix checkbox font size*/
	.check-box-wrapper label{
		font-size: 12px;
	}
	/* fix log in button position*/
	.nav-item > a > .sign-up-button {
		position: absolute;
		top: 30px;
	}

	.sign-progress-wrapper{
		 width: 110%;
	}

	.sign-up-form {
		margin-top: 2.5rem;
	}
}

.check-box-wrapper label:focus {
	outline: none;
}

.check-box-wrapper label::after {
	border: 3px solid rgba(255, 77, 77, 0.5);
	height: 100%;
	width: 80%;
	position: absolute;
	top: 0px;
	right: 0px;
	content: '';
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.5);
}

fieldset {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.check-box-wrapper label::before {
	background: linear-gradient(to right, rgba(255, 77, 77, 0.5) 50%, transparent 50%);
	border: 3px solid rgba(255, 77, 77, 0.5);
	border-top: 3px solid rgba(255, 77, 77, 0.75);
	border-bottom: 3px solid rgba(255, 77, 77, 0.75);
	/*margin-top: 5%;*/
	/*margin-bottom: 5%;*/
	height: 60%;
	border-radius: none;
	width: 30px;
	background-size: 200% 100%;
	background-position: top right;
	position: absolute;
	top: 20%;
	right: 0.4rem;
	/*bottom: 0.2rem;*/
	content: '';
	z-index: 0;
	transition: background-position 0.15s ease;
}

input:focus {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.check-box-wrapper:hover label::after {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.check-box-wrapper input:checked + label {
	color: #ff4d4d;
}

.check-box-wrapper input:checked + label::before, .check-box-wrapper input:checked + label::after{
	border: 3px solid #ff4d4d;
}

.check-box-wrapper input:checked + label::before {
	/*background-color: #ff4d4d;*/
	background-position: top left;
}

.check-box-wrapper input {
	position: absolute;
	left: -99999px;
}

.form-header {
	clear: both;
	position: relative;
	padding: 10px;
	color: #ff4d4d;
}

.form-header::before {
	width: 30%;
	height: 3px;
	background-color: #ff4d4d;
	content: '';
	color: blue;
	position: absolute;
	z-index: 3;
	top: 0px;
	right:35%;
}

.form-header::after {
	width: 30%;
	height: 3px;
	background-color: #ff4d4d;
	content: '';
	color: blue;
	position: absolute;
	z-index: 2;
	bottom:2;
	right:35%;
}

#sign-1-wrapper {
	margin-top: 9rem;
	/*display: none;*/
}

#sign-2-wrapper {
	margin-top: 9rem;
	display: none;
}

#sign-3-wrapper {
	margin-top: 9rem;
	display: none;
}

#sign-input-wrapper {
	margin-top: 4rem;
}

#complete-wrapper {
	margin-top: 9rem;
	display: none;
}

.sign-progress li {
	color: rgba(255, 77, 77, 0.5);
}

.sign-progress li::before {
	width: 30px;
	height: 30px;
	content: counter(step);
	counter-increment: step;
	line-height: 30px;
	color: rgba(255, 77, 77, 0.5);
	border: 3px solid rgba(255, 77, 77, 0.5);
	display: block;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	background-color: white;
}

.sign-progress li.active {
	color: #ff4d4d;
}

.sign-progress li.complete {
	color: #ff4d4d;
	font-weight: thin;
}

.sign-progress li.complete::before {
	color: white;
	background-color: #ff4d4d;
}

.sign-progress li.active::after {
	background-color: #ff4d4d;
}

.sign-progress li.active::before {
	color: #ff4d4d;
	border: 3px solid #ff4d4d;
}

.sign-progress li::after {
	width: 100%;
	height: 2px;
	content: '';
	position: absolute;
	background-color: rgba(255, 77, 77, 0.5);
	top: 14px;
	left: -50%;
	/*border: 1px solid black;*/
	z-index: -1;
}

.sign-up-button:focus{
	outline: none;
}

.sign-progress li:first-child::after {
	content: none;
}

.vertical-align {
	display: flex;
	align-items: center;
	height: 100%;
}


.profile-main-picture {
	border: 3px solid #ff4d4d;
	padding: 0.2rem;
}
.profile-main-picture:hover {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.button-container:hover > .edit-button-wrapper, .button-container:focus > .edit-button-wrapper {
	display: inline-block;
}

.picture-profile {
	max-width: 100%;
	height:auto;
}

#one-message-model {
	display: none;
}

.user-photos-wrapper {
	margin-top: 2rem;
}

#chatterModel {
	display: none;
}

#currentChatModel {
	display: none;
}

/*.chat-button button {
	border: 1px solid black;
}
*/

.post-picture {
	border: 2px solid rgba(255, 77, 77, 0.5);
}

.post-picture:hover {
	border: 2px solid #ff4d4d;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}


.one-chat-wrapper {
	border: 1px solid black;
}

.chatting-wrapper {
	margin-left: 1rem;
}

.on-chat-button,  .converse-button {
	border: 1px solid black;
}

.messages-wrapper {
	max-height: 20rem;
	overflow: auto;
	padding: 0.2rem;
}


/*.chatting-wrapper button {
	border: 1px solid black;
}
*/

.one-chat-wrapper {
	background: #EFEFEF;
}

.message {
	/*border-bottom: 1px solid black;*/
	padding: 0.5rem;
	margin-bottom: 1rem;
	padding: 5px;
}

body {
	background-color: #ffe6CC;
	/*background-image: url('4669568-blue-wallpaper-hd.jpg');*/
}

img {
	width: 100% !important;
	height: auto !important;
}


.like_button {
	border: 2px solid #ff4d4d;
	background-color: transparent;
	color: #ff4d4d;
}

.like_button:hover {
	background-color: #ff4d4d;
	color: white;
}

.profile_button:hover {
	color: white;
	background-color: green;
}

.profile_button {
	background-color: transparent;
	border: 2px solid green;
	color: green;
}

.one-chat-wrapper {
	width: 200%;
}

.present_users {
	border: 2px solid rgba(255, 77, 77, 0.5);
	margin-top: 1rem;
}

.present_users_infos {
	z-index: 10;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: rgba(255, 255, 255, 0.8);
}

.present_users:hover {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	border: 2px solid #ff4d4d;
}

.present_users:hover  .present_users_infos {
	display: block;
	/*color: #e5e5e5;*/
}

.no-border {
	border: none !important;
}
`
.button-container {
	position: relative;
}

.edit-button-wrapper {
	display:none;
	position: absolute;
	border: 2px solid #ff4d4d;
	right: 1rem;
	background: linear-gradient(to bottom, #ff4d4d 50%, transparent 50%);
	background-size: 100% 200%;
	background-position: bottom left;
	transition: all 0.2s;
	/*color: white;*/
	top: 1rem;
}

.edit-button-wrapper:hover {
	background-position: top left;
}

.edit-button-wrapper:hover > .edit-button {
	color: white;
}

#edit-profile {
	margin-top: 2.5rem;
}

#proposals-wrapper {
	margin-top: 2rem;
}

#your-photos-wrapper {
	margin-top: 2.5rem;
}

#posts-wrapper {
	margin-top: 2.8rem;
}

#present-profile {
	margin-top: 2rem;
}

.profile-infos {
	border: 3px solid #ff4d4d;
	margin-top: 1rem;
}

.profile-infos:hover {
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.posts_class {
	margin-top: 1rem;
}

.posts-wrapper {
	overflow: auto;
}

.no-radius {
	border-radius: 0;
}
body {
	justify-content: center;
}
.header-wrapper {
	position: relative;
	background-color: white;
	border-bottom: 6px solid #ff4d4d;
	border-radius: 0;
	margin-bottom: 4rem;
}



.main-nav {
	position: absolute;
	bottom: 0px;
}

.text-on-right {
	float: right;
}

.edit-button {
	background: transparent;
	color: #ff4d4d;
	border: none;
}

.button-container {
	position: relative;
}

.main-nav-link {
	color: black;
}

.main-nav-item {
	border-top: 3px solid white;
}



.main-nav-item:hover {
	border-top: 3px solid #ff4d4d;
	border-radius: 0;

}

.main-nav-item:hover .main-nav-link {
	color: black;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
	font-family: 'Manifesto';
	src: url('fonts/MANIFESTO.ttf');
}


.button-centred {
	position: absolute;
	left: 50%;
}