{% for item in posts %}
<div class="col-xs-4 col-sm-4 col-md-4">
	<div id="{{item['id']}}" class="present_users card button-container no-radius profile-picture posts_class">
		<div class="present_users_infos">
			<p class="present_users_text card-text">By {{item['username']}}</p>
			<div class="card-block present-button-wrapper text-center">
					<button class="btn btn-default like_button"><i class="fa fa-heart" aria-hidden="true"></i></button>
				<a href="/user/{{item['user_id']}}">
					<button class="btn btn-default profile_button"><i class="fa fa-user" aria-hidden="true"></i></button>
				</a>
			</div>
		</div>
			{% if 'image' in item %}
				<img class="card-img-top picture-profile no-radius" src="/image/{{item['image']}}">
			{% endif %}
		<!-- <div class="card-block content-block">
			<p class="card-text">
				{{item['content']}}
			</p>
		</div> -->
	</div>
</div>
{% endfor %}