{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
		<fieldset class="form-group sign-up-form">
				<div class="text-center form-legend"><h4>Create an account ..</h4></div>
				<div class="sign-progress-wrapper">
					<ul class="sign-progress">
						<li id="step-1-pro" class="active">Step 1</li>
						<li id="step-2-pro">Step 2</li>
						<li id="step-3-pro">Step 3</li>
					</ul>
				</div>
			<form action="/create" method="POST">
				<div id="sign-1-wrapper">
					<div class="form-group text-center">
						<input type="text" class="form-control no-radius text-center col-sm-10 offset-sm-1" name="email" aria-describedby="emailHelp" placeholder="Type your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your email'">
						<small id="emailHelp" class="form-text text-muted">We'll never share your mail with anyone</small>
					</div>
					<div class="form-group text-center">
						<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="password" aria-describedby="passHelp" placeholder="Choose a secret password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose a secret password'">
						<small id="passHelp" class="form-text text-muted">Min 6 char. at least a capital letter, a number and no special char.</small>
					</div>
					<div class="form-group text-center">
						<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="passwordconfirm" placeholder="Confirm your password" onfocus="this.placeholder = ''" onblur="this.placeholder='Confirm your password'">
					</div>
					<div class="form-group text-center">
						<label>You are</label>
						<select class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="sex">
							<option value="Man">a man</option>
							<option value="Woman">a woman</option>
						</select>
					</div>
					<div class="form-group text-center">
						<label>looking for</label>
						<select class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="preference">
							<option value="Men">men</option>
							<option value="Women">women</option>
						</select>
					</div>
					<div class="form-group text-center">
						<input id="1-to-2-button" type="button" name="submit" value="Next Step" class="sign-up-button">
					</div>
				</div>
				<div id="sign-2-wrapper">
					<div class="form-group text-center">
						<label>looking for</label>
						<select class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="preference">
							<option value="Men">men</option>
							<option value="Women">women</option>
						</select>
					</div>
					<div class="form-group text-center">
						<input type="submit" name="submit" value="Sign Up" class="sign-up-button">
					</div>
				</div>
			</form>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
		<fieldset class="form-group sign-in-form">
			<legend class="text-center">... or log in if you have one !</legend>
			<form action="/login" method="POST">
				<div class="form-group text-center">
					<input type="text" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="email" aria-describedby="emailHelp" placeholder="Type your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your email'">
				</div>
				<div class="form-group text-center">
					<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="password" aria-describedby="passHelp" placeholder="Type your secret password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your secret password'">
				</div>
				<div class="form-group text-center">
					<input type="submit" name="submit" value="Log In" class="sign-up-button">
				</div>
			</form>
		</fieldset>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#1-to-2-button').on('click', function() {
		$('#sign-1-wrapper').hide();
		$('#sign-2-wrapper').show();
		$('#step-1-pro').prop('class', 'complete');
		$('#step-2-pro').prop('class', 'active');
	});
</script>
{% endblock %}
