{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
		<fieldset class="form-group sign-up-form">
				<div class="text-center form-legend"><h5>Create an account ..</h5></div>
				<div class="sign-progress-wrapper">
					<ul class="sign-progress">
						<li id="step-1-pro" class="active"><i class="fa fa-id-card" aria-hidden="true"></i></li>
						<li id="step-2-pro"><i class="fa fa-heart" aria-hidden="true"></i></li>
						<li id="step-3-pro"><i class="fa fa-star" aria-hidden="true"></i></li>
					</ul>
				</div>
			<form action="/create" method="POST">
				<div id="sign-1-wrapper">
					<div class="form-group col-sm-12">
						<div class="text-center form-header">
							<h5>Basic stuffs ..</h5>
						</div>
					</div>
					<div class="form-group">
						<div class="raw">
							<div class="input-group">
								<input type="text" class="form-control col-sm-5 offset-sm-1" name="firstname" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'">
								<input type="text" class="form-control col-sm-5" name="lastname" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'">
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<input type="text" class="form-control no-radius text-center col-sm-10 offset-sm-1" name="email" aria-describedby="emailHelp" placeholder="Type your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your email'">
						<small id="emailHelp" class="form-text text-muted">We'll never share your mail with anyone</small>
					</div>
					<div class="form-group text-center">
						<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="password" aria-describedby="passHelp" placeholder="Choose a secret password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Choose a secret password'">
						<small id="passHelp" class="form-text text-muted">Min 6 char. at least a capital letter, a number and no special char.</small>
					</div>
					<div class="form-group text-center">
						<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="passwordconfirm" placeholder="Confirm your password" onfocus="this.placeholder = ''" onblur="this.placeholder='Confirm your password'">
					</div>
					<div class="form-group text-center">
						<label>Select your birthdate</label>
						<input type="text" name="birthdate" class="form-control col-lg-6 offset-lg-3 text-center col-sm-8 offset-sm-2" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your birthdate: dd/mm/yyyy'" placeholder="Type your birthdate: dd/mm/yyyy">
						<small id="birthHelp" class="form-text text-muted">You should be at least 18 to sign up</small>
					</div>
					<div class="form-group text-center">
						<input id="1-to-2-button" type="button" name="submit" value="Next Step" class="sign-up-button">
					</div>
				</div>
				<div id="sign-2-wrapper">
					<div class="form-group">
						<div class="text-center form-header">
							<h5>Sexual orientation</h5>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<select class="form-control no-radius col-6 col-sm-4 offset-sm-1" name="sex">
								<option value="" disabled selected>Your are ..</option>
								<option value="woman">a Woman</option>
								<option value="man">a Man</option>
							</select>
							<select class="form-control col-6 col-sm-4 offset-sm-2" name="search">
								<option value="" disabled selected>.. looking for</option>
								<option value="women">Women</option>
								<option value="men">Men</option>
								<option value="both">Both</option>
							</select>
						</div>
					</div>
					<div class="form-group text-center">
						<input id="2-to-1-button" type="button" name="submit" value="Prev Step" class="sign-up-button-inverse">
						<input id="2-to-3-button" type="button" name="submit" value="Next Step" class="sign-up-button">
					</div>
				</div>
				<div id="sign-3-wrapper">
					<div class="form-group text-center">
						<div class="text-center form-header">
							<h5>Your tastes</h5>
						</div>
					</div>
					<div class="form-group text-center">
						<div class="raw">
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check1" type="checkbox" name="Movies">
									<label for="check1">Cinema</label>
							</div>
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check2" type="checkbox" name="Music">
									<label for="check2">Music</label>
							</div>
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check3" type="checkbox" name="Sport">
									<label for="check3">Sport</label>
							</div>
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check4" type="checkbox" name="Books">
									<label for="check4">Books</label>
							</div>
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check5" type="checkbox" name="Food">
									<label for="check5">Food</label>
							</div>
							<div class="col-5 col-xl-3 form-control check-box-wrapper no-border">
								<input id="check6" type="checkbox" name="Bed">
									<label for="check6">Bed</label>
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<input id="3-to-2-button" type="button" name="submit" value="Prev Step" class="sign-up-button-inverse">
						<input id="3-to-end-button" type="submit" name="submit" value="Next Step" class="sign-up-button">
					</div>
				</div>
				<div id="complete-wrapper">

				</div>
			</form>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
		<fieldset class="form-group sign-in-form">
			<legend class="text-center">... or log in if you have one !</legend>
			<form action="/login" method="POST">
				<div class="form-group text-center">
					<input type="text" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="email" aria-describedby="emailHelp" placeholder="Type your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your email'">
				</div>
				<div class="form-group text-center">
					<input type="password" class="form-control no-radius col-sm-10 offset-sm-1 text-center" name="password" aria-describedby="passHelp" placeholder="Type your secret password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your secret password'">
				</div>
				<div class="form-group text-center">
					<input type="submit" name="submit" value="Log In" class="sign-up-button">
				</div>
			</form>
		</fieldset>
	</div>
</div>
{% endblock %}

{% block script %}
		<script>
			$('#1-to-2-button').on('click', function() {
				$('#sign-1-wrapper').hide();
				$('#sign-2-wrapper').show();
				$('#step-1-pro').prop('class', 'complete');
				$('#step-2-pro').prop('class', 'active');
			});
			$('#2-to-1-button').on('click', function() {
				$('#sign-2-wrapper').hide();
				$('#sign-1-wrapper').show();
				$('#step-1-pro').prop('class', 'active');
				$('#step-2-pro').prop('class', '');
			});
			$('#2-to-3-button').on('click', function() {
				$('#sign-2-wrapper').hide();
				$('#sign-3-wrapper').show();
				$('#step-2-pro').prop('class', 'complete');
				$('#step-3-pro').prop('class', 'active');
			});
			$('#3-to-2-button').on('click', function () {
				$('#sign-3-wrapper').hide();
				$('#sign-2-wrapper').show();
				$('#step-2-pro').prop('class', 'active');
				$('#step-3-pro').prop('class', '');
			});
		</script>
{% endblock %}
