{% extends 'layout.html' %}
{% block content %}
<div class="row">
	<div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-center">
		<div class="form-legend"><h4>{{username}}</h4></div>
		<div class="card no-radius">
			<img type="image/png" class="picture-profile img-fluid no-radius card-img-top" src="/image/{{profileImage}}">
		</div>
	</div>
	<div class="col-md-10 col-xs-12 offset-md-1 text-center user-photos-wrapper">
		<div class="form-legend"><h4>{{username}}'s photos</h4></div>
		{% block photos %}
			{% for item in posts %}
				<div class="col-sm-4 col-xs-4 col-lg-4">
					<div class="card button-container no-radius profile-picture">
						{% if 'image' in item %}
							<img class="card-img-top picture-profile no-radius" src="/image/{{item['image']}}">
						{% endif %}
						 <div class="card-block">
							<p class="card-text">
								{{item['content']}}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endblock %}
	</div>
</div>
{% endblock %}
